In [1]:
def is_prime(num):
    for n in range(2, num):
        if num % n == 0:
            print("it's not a prime number")
            break
    else: 
        print("it's a prime number")

In [2]:
is_prime(11)

it's a prime number

In [3]:
is_prime(39)

it's not a prime number

In [6]:
import math
def prime(num):
    if num % 2 == 0 and num > 2:
        return False
    for i in range(3,int(math.sqrt(num)) + 1, 2 ):
        if num % i == 0:
            return False
    return True

In [7]:
prime(11)

True

In [8]:
prime(1004)

False

In [9]:
prime(29)

True

In [11]:
# A Python program to generate squares from 1 
# to 100 using yield and therefore generator 

# An infinite generator function that prints 
# next square number. It starts with 1 
def nextSquare(): 
	i = 1; 

	# An Infinite loop to generate squares 
	while True: 
		yield i*i				 
		i += 1 # Next execution resumes 
				# from this point	 

# Driver code to test above generator 
# function 
for num in nextSquare(): 
	if num > 200: 
		break	
	print(num)

1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [21]:
def fibonacci(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b, a+b

In [31]:
next(iter(fibonacci(12)))

1

In [23]:
for i in fibonacci(12):
    print(i)

1
1
2
3
5
8
13
21
34
55
89
144

In [32]:
l = ['tom', 'james', 'uche', 'amobi']
l[::-1]

['amobi', 'uche', 'james', 'tom']

In [35]:
[i[::-1] for i in l][::-1]

['iboma', 'ehcu', 'semaj', 'mot']

In [38]:
l = ['x','y','z']
for i in range(4):
    for j in l:
        print(i*j)

x
y
z
xx
yy
zz
xxx
yyy
zzz

In [42]:
[i*j for j in l for i in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [43]:
[i*j for j in range(1,5) for i in l]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [44]:
[(i,j) for j in range(1,4) for i in range(1,4) ]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [27]:
lst1 = [[x+y] for x in range(2,5) for y in range(3)]
lst2 = [[x+y for x in range(2,6)] for y in range(4)]
print(lst1, lst2)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [68]:
lst1 = [2,3,4,5,6,7]
lst2 = [6,7,8,9,3,4]

def sumlst(a,b):
    
    return [a + b for (a,b) in zip(a,b)]
sumlst(lst1,lst2)

[8, 10, 12, 14, 9, 11]

In [34]:
'wors'.

4

In [35]:
lst = ['camel', 'dog', 'utomakili', 'onewokae','robertson', 'computer', 'thompson']

def filter_long_words(words, n):
    return [i for i in words if len(i)> n]

filter_long_words(lst, 5)

['utomakili', 'onewokae', 'robertson', 'computer', 'thompson']

In [3]:
from functools import reduce
reduce(x, [1,4,6,5,4,3,5,6,8])

42

In [9]:

reduce(x,filter(lambda x: x%2 == 0, [1,2,3,4,5,6,7,8,9,10]))

30

In [13]:
[[x+y for x in range(2,6)] for y in range(4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]